@import url(http://fonts.googleapis.com/css?family=Kreon:400,700);

body, input, select, button {
    background-color: #fff;
    color: #000;
    font-family: "Kreon", sans-serif;
}

#stopwatch-value {
    font-size: 256px;
}

#stopwatch-value span {
	display: inline-block;
	width: 145px;
    min-width: 145px;
    max-width: 145px;
	text-align: center;
	font-weight: bold;
}

.colon {
	width: 80px !important;
    min-width: 80px !important;
    max-width: 80px !important;
}

button {
	font-size: 18px;
    padding: 5px 10px;
    min-width: 100px;
}

button {
	background-color: #3498DB;
	color: #fff;
	padding: 8px 20px 6px;
	border: none;
	border-radius: 4px;
	font-weight: bold;
	font-size: 18px;
	border-bottom: 2px solid #2980B9;
	cursor: pointer;
}
