@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Kreon:700);

body, input, select, button {
    background-color: #fff;
    color: #000;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
}

#stopwatch-value {
    font-size: 265px;
}

#stopwatch-value span {
	font-family: "Kreon";
	display: inline-block;
	width: 150px;
    min-width: 150px;
    max-width: 150px;
	text-align: center;
	font-weight: bold;
}

.colon {
	width: 80px !important;
    min-width: 80px !important;
    max-width: 80px !important;
}

button {
	background-color: #3498DB;
	color: #fff;
	padding: 8px 20px 6px;
	border: none;
	border-radius: 4px;
	font-weight: bold;
	font-size: 16px;
	border-bottom: 2px solid #2980B9;
	cursor: pointer;
}
