body {
    background-color: #000;
    color: #997a1f;
}

#stopwatch-value {
    margin-bottom: 20px;
}

button {
    background-color: #000;
    border: 2px solid #222;
    color: #997a1f;
    font-size: 20px;
    text-transform: uppercase;
    padding: 2px 10px;
}
